:root {
  /* creating custom property values / variables */
  --font-family: "Roboto Mono", monospace, san-serif;
  --box-shadow: 0 0 2rem -5px rgba(105, 105, 105, 0.26);
  --fluid-text-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --fluid-text-1: clamp(1.2rem, calc(1.1rem + 0.52vw), 1.5rem);
  --fluid-text-2: clamp(1.44rem, calc(1.25rem + 0.97vw), 2rem);
  --fluid-text-3: clamp(1.73rem, calc(1.4rem + 1.63vw), 2.66rem);
  --body-text-clamp: clamp(1.6rem, calc(1.8rem + 0.97vw), 2rem);
  --header-bg: rgba(223, 247, 254, 0.7);
  --section-bg: rgba(17, 31, 45, 0.5);
  --section-header: linear-gradient(147deg, #ffb99a 0%, #ffdbc5 100%);
  --bg-color: #fff0e0;
  --bg-img: url(../images/leaf.WEBP);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--fluid-text-2);
  background-image: var(--bg-img);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

header,
footer {
  background-color: var(--header-bg);
  backdrop-filter: blur(6px);
}

header {
  font-size: var(--fluid-text-2);
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

}

header img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.img-box {
  max-width: 25%;
}

ul {
  list-style: none;
}

nav {
  background-color: #000;
  color: #fff;
  position: relative;
  display: grid;
}


nav ul {
  text-align: center;
}

nav ul li {
  padding: 1rem 2rem;
  cursor: pointer;
}

nav ul li a:link,
nav ul li a:visited {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background-color: var(--bg-color);
  color: #000;
}

nav ul li a:hover {
  color: #000;
}

main {
  color: var(--bg-color);
  padding: 2rem;
}

.info-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}

figure {
  position: relative;
}

figure,
main h2 {
  margin-block-end: 1em;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-10%, -10%);
  color: #000;
  background-color: var(--bg-color);
  padding-inline: 2em;
  padding-block: 2em;
  font-weight: 600;
  text-shadow: -1rem 2px 2rem;
}

main :where(h2, h3) {
  text-align: center;
}

main h2 {
  color: var(--bg-color);
  border-bottom: 3px solid var(--bg-color);
}

main h3 {
  background: var(--section-header);
  border-radius: 0.5rem;
  color: #000;
}

main :where(section, h3) {
  padding: 1.5rem 2rem;
}

main ul {
  text-indent: 2rem;
  margin-block: 1rem;

}

main a:link,
main a:visited {
  color: var(--header-bg);
  display: inline-block;
  margin-inline-end: 1.5px;
}


.card {
  background-color: var(--section-bg);
  backdrop-filter: blur(1.5rem);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  padding-block: 1em;
  padding-inline: 1em;
}

.weather-sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

footer {
  text-align: center;
  padding: 1.5rem 1rem;
}

#menu {
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 3px 7px 6px;
  background-color: #eee;
  color: #000;
  width: 100%;
  height: 5rem;
}

#menu::before {
  content: "☰";
  font-size: 3rem;
}

#menu.open::before {
  content: "❎";
}

.navigation li {
  display: none;
}

.open li {
  display: block;
  width: 100%;
}

/* ----------------------------------------------------------- */
/* Light - dark mode button section */

[role="switch"] {
  display: inline-block;
  padding-inline: 1rem;
  padding-block: .5rem;
  width: 100%;
  background-color: brown;
}

[role="switch"] .switch {
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  height: 2.5rem;
  width: 4.5rem;
  border-radius: 1.2rem;
  padding-inline-start: 1px;
  margin: 0 auto;
}

[role="switch"] .switch span {
  display: inline-block;
  border: 2px solid black;
  border-radius: .8rem;
  height: 1.7rem;
  width: 1.7rem;
  background: white;
  transition: all .3s;
}

.moveRight {
  background: var(--section-header);
  transform: translateX(2rem);
}

[role="switch"]:focus span.switch {
  background: var(--bg-color);
}

[role="switch"]:focus .switch span {
  background: orange;
}

iframe {
  width: 100%;
}