:root {
  /* creating custom property values / variables */
  --font-family: "Roboto Mono", monospace, san-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;
}
