@media only screen and (min-width: 56.25em) {
  html {
    font-size: 62.5%;
  }

  /* body {} */

  header {
    font-size: var(--fluid-text-3);
  }

  nav,
  main {
    max-width: 180rem;
    margin: 0 auto;
  }

  nav {
    height: fit-content;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .info-box {
    grid-template-columns: repeat(3, 1fr);

  }

  figcaption {
    font-size: 2.5rem;
  }

  main h2 {
    text-align: left;
  }

  .activity-sec {
    grid-column: 1/ 3;
  }

  .weather-sec {
    grid-column: 3 / 4;
  }

  .map {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  main ul {
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  #menu {
    display: none;
  }

  .navigation li {
    display: block;
  }

}